/* Home page & general style for others */
body 
{
    background-color:#694873;
    font-family: Verdana, Helvetica, sans-serif;
}

.header
{
    font-size:120%;
    color:floralwhite;
}

h1 
{
    font-size:200%;
    text-align:center;
    color:black;
}

.nav>a
{
    color:floralwhite;
}

a
{
    color:#16302B;
    text-shadow: 1px 1px 1px #111111;
    font-size:85%
}

.day 
{
    font-weight: bolder;
    font-size:25px;
    border-style:solid;
    width:25%;
    padding:3px;
    margin:3px auto;
    text-align:center;
    background-color:#E9FFDD;
    border-radius:30px;
}

.assignment-label
{
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reading
{
    font-weight:bold;
    border-style:solid;
    padding: 2px;
    width:50%;
    margin:5px;
    font-indent:20px;
}

.prep-box 
{
    font-weight:bold;
    border-style:solid;
    padding: 2px;
    width:50%;
    margin:5px;
}

.grading-box
{
    font-weight:bold;
    border-style:solid;
    padding: 2px;
    width:50%;
    margin:5px;
}

.lab-box
{
    font-weight:bold;
    border-style:solid;
    padding: 2px;
    width:50%;
    margin:5px;
}

div.day-box.PREP
{
    height:10%;
    width:75%;
    background-color:#C0E5C8;
    border-style:double;
    border-width:20px;
    padding:20px;
    margin:20px auto;
    border-color:#16302B;
    border-radius:20px;
    font-size:20px;
}

div.day-box.CURRENT
{
    height:10%;
    width:75%;
    background-color:#85B79D;
     border-style:dashed;
    border-width:20px;
    padding:20px;
    margin:20px auto;
    border-color:#16302B;
    border-radius:20px;
    font-size:20px;
}

div.day-box.COMPLETED
{
    height:10%;
    width:75%;
    background-color:#C0E5C8;
     border-style:double;
    border-width:20px;
    padding:20px;
    margin:20px auto;
    border-color:white;
    border-color:#16302B;
    border-radius:20px;
    font-size:20px;
}


/*  Update Account */

label
{
    color:white;
    background-color:#85B79D;
    border-style:inset;
    margin-bottom:30px;
    margin-left:20px;
}

input
{
    margin-right:95%;
    margin-top:10px;
    margin-bottom:20px;
    margin-left:60px;
}

/* grades */

.title
{
    color:black;
    font-weight: bolder;
    font-size:120%;
    text-align: center;
    padding:3px;
    margin:20px;
}
h3
{
    color:floralwhite;
    font-weight:bolder;
    font-size:120%;
    margin-left:5px;
}

.grade
{
    color:floralwhite;
    font-weight:bolder;
    font-size:120%;
    height: 50px;
    width: 50px;
    border-style:double;
    text-align: center;
    vertical-align: middle;
    margin-left:35px;
    margin-bottom:10px;
    background-color:#16302B;
}

tr
{
    padding: 7px 10px 10px 10px;
    font-size:25px;
    border-style:solid;
    font-weight:bold;
    width:35%;
    margin:3px auto;
    text-align:center;
    background-color:#E9FFDD;
    border-radius:30px;
    color:#16302B;
}

td
{
    border: 1px solid;
    empty-cells: show;
    padding: 3px;
    margin: 2px;
}





